In [1]:
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style='whitegrid', palette='muted')
from datetime import datetime
import numpy as np
import base64
import os

In [45]:
acc_names = ["login", "client_id", "age_segment", "sex_type", "canal", "client_type"]
acc = pd.read_csv('data/accounts', names=acc_names, header=None)
balance_names = ["client_id", "balance"]
balance = pd.read_csv('data/balance.csv', names=balance_names, header=None)
com_names = ["login", "date_trunc", "comission"]
commissions = pd.read_csv('data/comissions.csv', names=com_names, header=None, on_bad_lines='skip', engine='python')
ex_names = ["client_id", "date_last_conv"]
exchange = pd.read_csv('data/exchange.csv', names=ex_names, header=None)
ino_names = ["client_id", "date_last_inouts", "cnt_inouts"]
inouts = pd.read_csv('data/inouts.csv', names=ino_names, header=None)
in_names = ["client_id", "sum_ins"]
ins = pd.read_csv('data/ins.csv', names=in_names, header=None)
trades_names = ["login", "date_last_activity", "cnt_trades"]
trades = pd.read_csv('data/trades.csv', names=trades_names, header=None)

In [46]:
print(acc.shape)
acc.head()

(240222, 6)

,login,client_id,age_segment,sex_type,canal,client_type
0,gAAAAABoJJwBusMvEfdCoBv-GUuSnkkIhm34YIYtbcOUq5...,gAAAAABoJJwDG_D5rwTXB2DFmknUqBcPfdV8wwRI68GCFm...,25-34 лет,Ж,Органика,ФЛ
1,gAAAAABoJJv_l1zCx6Q3UiOFMqYQjyxdncyiq4htk_XgoB...,gAAAAABoJJwDguZPspoz3Tqk5SdU1MvGiOAd5w8W9LnHse...,55 лет +,М,Органика,ФЛ
2,gAAAAABoJJwBrFY_Orltkum5BipPfC5HN6Ac2Omf-hOwO0...,gAAAAABoJJwD40m0NdFjp42Z1kdE20IDurac_QRcirjmjk...,25-34 лет,М,Органика,ФЛ
3,gAAAAABoJJv_k32DQT5KHze_oaN59PQAs4Ynijc6PgkTkt...,gAAAAABoJJwDgmKNCdoEYY_LJi8X1ue2SoziVVure9Wxjy...,35-44 лет,М,Рефералка Sales,ФЛ
4,gAAAAABoJJwBBtvg2OvVhSif1JEE9oGQJQ1ss_s_4RhFb1...,gAAAAABoJJwDt69yns8XNka5fruKu0vIyqrICH83RL_Xko...,25-34 лет,М,Рефералка Sales,ФЛ

In [47]:
print(balance.shape)
balance.head()

(221096, 2)

                                           client_id       balance
0  gAAAAABoJJwFuKvg6q-izs3me619yISwVcFUM6t6RzpZKg...   1937.639858
1  gAAAAABoJJwFAQL1JY1ZNTHVaYXovTv2Lm3Ll8P_DmCm5p...   1965.400337
2  gAAAAABoJJwEEpyPGAe0JSWXPEh9hDC30WqwlFcNCuyU3S...    476.356378
3  gAAAAABoJJwFwfZcCOycNnpISuwVB-URhLYCBNtQzKL2Pa...  51460.167640
4  gAAAAABoJJwGOD-Kw4qnknmIYhIsPaKRmTiyknMMLDEDnQ...     18.829256

In [48]:
print(commissions.shape)
commissions.head()

(585658, 3)

                                               login  date_trunc    comission
0  gAAAAABoJJv_qHikYqdScL6GZufmdDlRVavt-MBaWfMTCO...  2024-11-01     0.015561
1  gAAAAABoJJv_ZSFiec53fnVc_HgE0xLBCYVH0dRwPBS5w2...  2025-05-01   179.493354
2  gAAAAABoJJv_W_DcPTdQWOkvjRSWX246PhIyvszCPeN-o5...  2025-02-01  1570.616107
3  gAAAAABoJJv_a67iD2EMMwrHv_-cdT1c-7DTBCeHsC4gBF...  2025-02-01    12.943555
4  gAAAAABoJJv_pq0X5A5P4XryTpDmvQePFZT6lw5O8xKVul...  2025-01-01    23.058066

In [49]:
print(exchange.shape)
exchange.head()

(42309, 2)

                                           client_id date_last_conv
0  gAAAAABoJJwFoKeMGmHFCoOt4UqO9SuvdyCbqicJESgsHd...     2024-10-29
1  gAAAAABoJJwELWNsrB-ehkQ0528CnZywEFz9GDXNvoDJ_q...     2024-11-07
2  gAAAAABoJJwGmSBab_P5WYXRFURUR00iOykncLAmDCSsZu...     2024-08-28
3  gAAAAABoJJwEZK82Ql-3QDAHqul8C6Lw7H6WDBqm4eqi3r...     2025-03-24
4  gAAAAABoJJwEhNYCq83hpCGQ3vbc6xBIGMeRdWKzzVxylG...     2025-02-21

In [50]:
print(inouts.shape)
inouts.head()

(113195, 3)

,client_id,date_last_inouts,cnt_inouts
0,gAAAAABoJJwELI9E-NmzZw3il-PhpVFzgW5iL5qmgHqqU9...,2024-11-12,4
1,gAAAAABoJJwGo3cwnrDEnUT2XeOfgQ_irfeB-qlT1e_dyy...,2025-05-05,8
2,gAAAAABoJJwGQn6jOUTgi7Fapsz20doanrfP5YO0K3dQPk...,2024-12-12,3
3,gAAAAABoJJwFAETdpT3wBnbxKvJqVXV10NFR4JkmKbQizJ...,2025-05-13,7
4,gAAAAABoJJwGeUZ0JneV5CvhM6PE_bZJ9ceTW-rXTamNJd...,2024-11-01,9

In [51]:
print(ins.shape)
ins.head()

(225006, 2)

                                           client_id        sum_ins
0  gAAAAABoJJwGZNeGWxwBnrYOLO2h9_UhBWjRIscR-e7OTy...     392.308767
1  gAAAAABoJJwEvhGYPcuUh3Uu94PVmDKHbbAfpKmOz9ANQu...      56.522272
2  gAAAAABoJJwFHZ-ZGqX5Eu1-1j3BsNj6xIphyLEbwh4x1t...  537077.219299
3  gAAAAABoJJwHUzZNKSSPEsRdSenv0jAoHHEeYSXggyod80...      32.432011
4  gAAAAABoJJwFc0Ra5CyoxSz6ILkeoLG9xAaM5gsWAVbCoS...       2.537810

In [52]:
print(trades.shape)
trades.head()

(82713, 3)

,login,date_last_activity,cnt_trades
0,gAAAAABoJJwANxCAt9FbDsqpmQDhoTaLuea6mb-ZxQwVHH...,2025-05-12,18
1,gAAAAABoJJwA1PtHwQWMEJoymXdHo5jwUy2VoigOE3sF04...,2025-04-29,48
2,gAAAAABoJJwAP1-HHcgca_rkq0_enRHVVFd-ERhw8Maeh4...,2025-03-14,4
3,gAAAAABoJJwAHRgvujoi4EFQj887QZVONtE9ENIIOHYFna...,2025-05-09,10
4,gAAAAABoJJv_gzUo_Np9pzVqrrdCLcBccGaIAScCAOlmf_...,2024-12-27,72

In [53]:
data = commissions.copy()

data = data.merge(acc, on='login', how='left')
data = data.merge(trades, on='login', how='left')

data = data.merge(balance, on='client_id', how='left')
data = data.merge(exchange, on='client_id', how='left')
data = data.merge(inouts, on='client_id', how='left')
data = data.merge(ins, on='client_id', how='left')

In [54]:
data

,login,date_trunc,comission,client_id,age_segment,sex_type,canal,client_type,date_last_activity,cnt_trades,balance,date_last_conv,date_last_inouts,cnt_inouts,sum_ins
0,gAAAAABoJJv_qHikYqdScL6GZufmdDlRVavt-MBaWfMTCO...,2024-11-01,0.015561,NaN,NaN,NaN,NaN,NaN,2025-01-28,39.0,NaN,NaN,NaN,NaN,NaN
1,gAAAAABoJJv_ZSFiec53fnVc_HgE0xLBCYVH0dRwPBS5w2...,2025-05-01,179.493354,gAAAAABoJJwET07yYPlicFk0z3zv3ah-P5vKgtElfpoLVX...,35-44 лет,М,Органика,ФЛ,2025-05-12,126.0,2254.303165,2025-05-01,2025-04-17,28.0,130409.142881
2,gAAAAABoJJv_W_DcPTdQWOkvjRSWX246PhIyvszCPeN-o5...,2025-02-01,1570.616107,gAAAAABoJJwEwQpb71fcm_T26fRsZiCrld4bKWqeiLETbQ...,35-44 лет,Ж,Органика,ФЛ,2025-05-09,654.0,247811.780537,2025-03-20,2025-05-03,45.0,170090.019485
3,gAAAAABoJJv_a67iD2EMMwrHv_-cdT1c-7DTBCeHsC4gBF...,2025-02-01,12.943555,gAAAAABoJJwG0E5w_9eBiqhswqQRO4Tt3OYDuTT5_eskSM...,25-34 лет,М,Органика,ФЛ,2025-03-06,48.0,15897.802582,NaN,NaN,NaN,40351.795065
4,gAAAAABoJJv_pq0X5A5P4XryTpDmvQePFZT6lw5O8xKVul...,2025-01-01,23.058066,gAAAAABoJJwD7Ugk7yXw5IKU3Yejk294zqzm4Myvc-aEkr...,35-44 лет,М,Маркетинг KZ,ФЛ,2025-05-12,162.0,21741.879087,2025-05-12,2025-04-06,8.0,12991.382638
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585653,gAAAAABoJJv_nMFr2OnIVcR5IyWWK9M_7_7qbhzSFf_0DL...,2025-01-01,13.742631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
585654,gAAAAABoJJv_XcqQ8hyQqcCbB7de-TvUZtHDb02m2Tnw0x...,2025-05-01,9.910064,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
585655,gAAAAABoJJv_BxNz_vxpuCFCtB_RrC2lZKkNZGQbf3JvZ4...,2025-01-01,3.893384,gAAAAABoJJwFf_zF3sll76PBkNR70uNhUhjcdTi1NOGZK-...,35-44 лет,Ж,Органика,ФЛ,2025-05-13,54.0,5054.741736,2025-03-27,2025-05-13,31.0,47402.207579
585656,gAAAAABoJJv_p7l6QPek5OTovfwW_A2CMX5yixhKJQxpGj...,2024-07-01,20.162542,gAAAAABoJJwEW3I-ceqHLakcEPkrHjKJ7OKhcCzmsCo3gI...,45-54 лет,Ж,Маркетинг KZ,ФЛ,2025-05-02,56.0,39306.633024,2024-09-16,2024-06-24,1.0,71793.871716
585657,gAAAAABoJJv_ie5-yT7AkZxbjisORnE3pG7y_82zMWOqPU...,2024-10-01,356.870123,gAAAAABoJJwE3N-N8HksoRYoyu_i8b6k4HdoWDz9o1jabg...,35-44 лет,М,Рефералка Sales,ФЛ,2025-05-12,98.0,228944.930914,NaN,NaN,NaN,561097.693988

In [55]:
def random_base64_string(length=44):
    random_bytes = os.urandom(length)
    return base64.urlsafe_b64encode(random_bytes).decode('utf-8').rstrip('=')

data['client_id'] = data['client_id'].apply(lambda x: random_base64_string() if pd.isna(x) else x)

In [56]:
print(data.isnull().sum())

login                      0
date_trunc                 0
comission                  0
client_id                  0
age_segment           223467
sex_type              223467
canal                 223467
client_type           223467
date_last_activity    204292
cnt_trades            204292
balance               224723
date_last_conv        402955
date_last_inouts      314624
cnt_inouts            314624
sum_ins               232661
dtype: int64

In [57]:
data.columns

Index(['login', 'date_trunc', 'comission', 'client_id', 'age_segment',
       'sex_type', 'canal', 'client_type', 'date_last_activity', 'cnt_trades',
       'balance', 'date_last_conv', 'date_last_inouts', 'cnt_inouts',
       'sum_ins'],
      dtype='object')

In [58]:
data.dtypes

login                  object
date_trunc             object
comission             float64
client_id              object
age_segment            object
sex_type               object
canal                  object
client_type            object
date_last_activity     object
cnt_trades            float64
balance               float64
date_last_conv         object
date_last_inouts       object
cnt_inouts            float64
sum_ins               float64
dtype: object

In [59]:
data['date_trunc'] = pd.to_datetime(data['date_trunc'], errors='coerce')

data['year_month'] = data['date_trunc'].dt.to_period('M').astype(str)
data1 = data.groupby(['login', 'year_month'])['year_month'].count().reset_index(name='count')
data1

                                                    login year_month  count
0       gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...    2025-02      1
1       gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...    2025-03      1
2       gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...    2025-04      1
3       gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...    2025-05      1
4       gAAAAABoJJv_--5gAsCr8RIYiy__3o0zxa2niOeZG_pFYv...    2024-12      1
...                                                   ...        ...    ...
585562  gAAAAABoJJwBzypRfVZ5yxSKJvBV1-BJl9IFlG-d5ASyro...    2024-06      1
585563  gAAAAABoJJwBzypRfVZ5yxSKJvBV1-BJl9IFlG-d5ASyro...    2024-07      1
585564  gAAAAABoJJwBzz1w6JEyK--v1yHKLfrU_xxcSEabMtgOsW...    2024-02      1
585565  gAAAAABoJJwBzz_ZT7hltUEHe5mC1W2MUGSfmKTojFAgQo...    2025-03      1
585566  gAAAAABoJJwBzzqLECSFvysLpL3vfmMvmRYrmCFg2CVhW8...    2024-09      1

[585567 rows x 3 columns]

In [60]:
inouts = inouts.merge(acc[['client_id', 'login']], on='client_id', how='left')
inouts

,client_id,date_last_inouts,cnt_inouts,login
0,gAAAAABoJJwELI9E-NmzZw3il-PhpVFzgW5iL5qmgHqqU9...,2024-11-12,4,gAAAAABoJJwArmA-hrnKN8N-zwS7j7tTAErdsPMADF_bPz...
1,gAAAAABoJJwGo3cwnrDEnUT2XeOfgQ_irfeB-qlT1e_dyy...,2025-05-05,8,NaN
2,gAAAAABoJJwGQn6jOUTgi7Fapsz20doanrfP5YO0K3dQPk...,2024-12-12,3,NaN
3,gAAAAABoJJwFAETdpT3wBnbxKvJqVXV10NFR4JkmKbQizJ...,2025-05-13,7,gAAAAABoJJwB8avO8elIP6iT87H4tMbV0kVyOZVeo4hB8T...
4,gAAAAABoJJwGeUZ0JneV5CvhM6PE_bZJ9ceTW-rXTamNJd...,2024-11-01,9,NaN
...,...,...,...,...
116279,gAAAAABoJJwGSUTcl1EwGDcuPsvFNOU5A_n8iFZ8aMFo1E...,2025-03-28,16,gAAAAABoJJv_pNwBmIyuqnEeu42qvXfXAqsowRXLMjv9X9...
116280,gAAAAABoJJwGNegWPWOuNE4rZa6Ai7FuVvmFaNzH2o7NQp...,2025-02-20,1,gAAAAABoJJwBLWi6EpCvaeUTg7-P6slLVJzqrtz3VFfbmn...
116281,gAAAAABoJJwEkR6Nse5Lq0JrrSJHP_GxRVvzaoAocksXPV...,2024-07-05,11,gAAAAABoJJwAKLErWPjLGNlYOPwjC7OMza7t6m3Ni_KfI1...
116282,gAAAAABoJJwG88zdv-w2lYuZ0niqp_UUJY1KoGFJtW1-g3...,2024-12-24,1,gAAAAABoJJv_mSauak0S4RDyp1BEK3iBNt2bb5r3rMS5i6...
116283,gAAAAABoJJwDDMroZaJyCJeLeKr1944D7p7uPhZ07-hF-v...,2025-04-25,2,gAAAAABoJJwBCSyuCHtrw5LJ1C-D0vEIv2Wv1l4-ar3lG6...

In [61]:
data1 = data1.merge(trades[['login', 'cnt_trades']], on='login', how='left')
data1

,login,year_month,count,cnt_trades
0,gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...,2025-02,1,NaN
1,gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...,2025-03,1,NaN
2,gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...,2025-04,1,NaN
3,gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...,2025-05,1,NaN
4,gAAAAABoJJv_--5gAsCr8RIYiy__3o0zxa2niOeZG_pFYv...,2024-12,1,69.0
...,...,...,...,...
585562,gAAAAABoJJwBzypRfVZ5yxSKJvBV1-BJl9IFlG-d5ASyro...,2024-06,1,20.0
585563,gAAAAABoJJwBzypRfVZ5yxSKJvBV1-BJl9IFlG-d5ASyro...,2024-07,1,20.0
585564,gAAAAABoJJwBzz1w6JEyK--v1yHKLfrU_xxcSEabMtgOsW...,2024-02,1,NaN
585565,gAAAAABoJJwBzz_ZT7hltUEHe5mC1W2MUGSfmKTojFAgQo...,2025-03,1,6.0
585566,gAAAAABoJJwBzzqLECSFvysLpL3vfmMvmRYrmCFg2CVhW8...,2024-09,1,NaN

In [62]:
data1 = data1.merge(inouts[['login', 'cnt_inouts']], on='login', how='left')
data1

,login,year_month,count,cnt_trades,cnt_inouts
0,gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...,2025-02,1,NaN,NaN
1,gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...,2025-03,1,NaN,NaN
2,gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...,2025-04,1,NaN,NaN
3,gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...,2025-05,1,NaN,NaN
4,gAAAAABoJJv_--5gAsCr8RIYiy__3o0zxa2niOeZG_pFYv...,2024-12,1,69.0,21.0
...,...,...,...,...,...
585562,gAAAAABoJJwBzypRfVZ5yxSKJvBV1-BJl9IFlG-d5ASyro...,2024-06,1,20.0,1.0
585563,gAAAAABoJJwBzypRfVZ5yxSKJvBV1-BJl9IFlG-d5ASyro...,2024-07,1,20.0,1.0
585564,gAAAAABoJJwBzz1w6JEyK--v1yHKLfrU_xxcSEabMtgOsW...,2024-02,1,NaN,NaN
585565,gAAAAABoJJwBzz_ZT7hltUEHe5mC1W2MUGSfmKTojFAgQo...,2025-03,1,6.0,NaN
585566,gAAAAABoJJwBzzqLECSFvysLpL3vfmMvmRYrmCFg2CVhW8...,2024-09,1,NaN,NaN

In [63]:
data1.isnull().sum()

login              0
year_month         0
count              0
cnt_trades    204272
cnt_inouts    314599
dtype: int64

In [64]:
data1['cnt_trades'] = data1['cnt_trades'].fillna(0)
data1['cnt_inouts'] = data1['cnt_inouts'].fillna(0)

In [65]:
data1.columns

Index(['login', 'year_month', 'count', 'cnt_trades', 'cnt_inouts'], dtype='object')

In [66]:
data1['total_comm'] = data1.groupby('login')['count'].transform('sum')
data1['ratio'] = data1['count'] / data1['total_comm']

data1['trades'] = data1['ratio'] * data1['cnt_trades']
data1['inouts'] = data1['ratio'] * data1['cnt_inouts']

In [67]:
data1 = data1[['login', 'year_month', 'count', 'trades', 'inouts']]

In [68]:
data1['frequency'] = data1['count'] + data1['trades'] + data1['inouts']
data1

/tmp/ipykernel_64228/2626633778.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['frequency'] = data1['count'] + data1['trades'] + data1['inouts']

,login,year_month,count,trades,inouts,frequency
0,gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...,2025-02,1,0.0,0.0,1.0
1,gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...,2025-03,1,0.0,0.0,1.0
2,gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...,2025-04,1,0.0,0.0,1.0
3,gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...,2025-05,1,0.0,0.0,1.0
4,gAAAAABoJJv_--5gAsCr8RIYiy__3o0zxa2niOeZG_pFYv...,2024-12,1,13.8,4.2,19.0
...,...,...,...,...,...,...
585562,gAAAAABoJJwBzypRfVZ5yxSKJvBV1-BJl9IFlG-d5ASyro...,2024-06,1,10.0,0.5,11.5
585563,gAAAAABoJJwBzypRfVZ5yxSKJvBV1-BJl9IFlG-d5ASyro...,2024-07,1,10.0,0.5,11.5
585564,gAAAAABoJJwBzz1w6JEyK--v1yHKLfrU_xxcSEabMtgOsW...,2024-02,1,0.0,0.0,1.0
585565,gAAAAABoJJwBzz_ZT7hltUEHe5mC1W2MUGSfmKTojFAgQo...,2025-03,1,6.0,0.0,7.0
585566,gAAAAABoJJwBzzqLECSFvysLpL3vfmMvmRYrmCFg2CVhW8...,2024-09,1,0.0,0.0,1.0

In [69]:
data1['year_month'] = pd.to_datetime(data1['year_month'])

data1 = data1.sort_values('year_month', ascending=False)

data1['month_rank'] = data1['year_month'].rank(method='dense', ascending=False).astype(int) - 1

data1['weight'] = 1 - 0.025 * data1['month_rank']

data1['weight'] = data1['weight'].clip(lower=0)
data1['year_month'] = data1['year_month'].dt.to_period('M').astype(str)

/tmp/ipykernel_64228/4234121977.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['year_month'] = pd.to_datetime(data1['year_month'])

In [70]:
data1['Frequency'] = data1['frequency'] * data1['weight']

In [72]:
data1

,login,year_month,count,trades,inouts,frequency,month_rank,weight,Frequency
79171,gAAAAABoJJv_BaqQN1H5ZhsnDFVXsX1rgTMKaD-qybtIhx...,2025-05-01,1,0.153846,0.000000,1.153846,0,1.0,1.153846
244341,gAAAAABoJJv_bO6pKnoe2uOOSCKkKec5QQ3qNdvI7IpIoy...,2025-05-01,1,0.000000,0.000000,1.000000,0,1.0,1.000000
46642,gAAAAABoJJv_6GqSFd590ZsYGxssHbK6mufENlLgYIt5HN...,2025-05-01,1,406.846154,0.769231,408.615385,0,1.0,408.615385
46645,gAAAAABoJJv_6GxL6oxDxEsnHJHOyYAxWOZcUcVW1VuX3s...,2025-05-01,1,4.000000,3.000000,8.000000,0,1.0,8.000000
244328,gAAAAABoJJv_bNz4XJDeKaMDIkRx8jOYuzToHo20dUSiJv...,2025-05-01,1,15.750000,3.250000,20.000000,0,1.0,20.000000
...,...,...,...,...,...,...,...,...,...
410177,gAAAAABoJJwA4ffCwboWgur059mETZznf_MMkbMPTJci-n...,2023-05-01,1,0.000000,0.000000,1.000000,24,0.4,0.400000
242297,gAAAAABoJJv_b2R8k47BTrNtpjUz-oCvkdFJwCzEPkRL71...,2023-05-01,1,3.000000,1.000000,5.000000,24,0.4,2.000000
432181,gAAAAABoJJwACxxcwkDnrM83Apkeufm3cyNLGDTCqv2wrZ...,2023-05-01,1,0.000000,0.000000,1.000000,24,0.4,0.400000
127324,gAAAAABoJJv_JJ-CLQva9rwWZL9Y__VHcQbVluvO9XMK8t...,2023-05-01,1,0.000000,0.000000,1.000000,24,0.4,0.400000
572315,gAAAAABoJJwBL5B67OtS8enoRsdGTwjrYjjZ0bzqXdxzr-...,2023-05-01,1,0.000000,0.000000,1.000000,24,0.4,0.400000

In [73]:
login_counts = data1['login'].value_counts()
print(login_counts.head(10))

login
gAAAAABoJJv_eh2d6J7ejyVR8_STIKXilFAF-N_M_H4tAGhu6MVld1HKDFY-_p7IbL8XRkwIeKzd4L-rK5LeiHYwHdyk-q2vJyvMujvX3xaqwbPVv_Isb3o=    14
gAAAAABoJJv_b7y1xCUO-QFflXW7H6JiEKJ7puPUCVXIWoRVKb7HG9frJpqMaPR9ig3LTlQhenRmSl7UaC2bcvUzd-ZraxHsr53fy__sinJbR1x8A35II98=    14
gAAAAABoJJv_yJBqUrF-DvdP_4x-Ll_g4sK3poN3BT3d0wk4PHuTQFyrlSvJCKvQxlKpLTxBp_l_NFFPYlC2t_LXGzk1thtggg==                        14
gAAAAABoJJwAi0O2Iuk2DrK9Nl2Y0U0gwaCSe0IjpdDvTqiIaIwTXButjDXendNz1uvqHoJZXWSS-sFiuh7xkGxsuC1-vZ1k2fTn28a21DrDw4tqs88ONSc=    14
gAAAAABoJJv_vgQ3-zvGpjJEd3-9xlHGGFkC0ZdwvOfN-Lp3S4p5d9HM_Vxh2aYojTcaK1707pWP3oM2803B4wdoI2iHVkbn0BEue6WFw3DanbmQBX6uVXQ=    14
gAAAAABoJJv_okAB8qI7LBxmrIaLDPb_oHx4iiBvGCuVnhKrcgzw-vvI6X3SlD9HSsU425o3wnOLxUqYU0k6IQ0WPoTCIKExtA==                        14
gAAAAABoJJwAIh3oheaXpTCqL6RRHD1aumYsEE5bd-E_4O3PKQfI4P3f8r8Z5_IlgfkEnuiVUURzkhZ-qo8DZee50tZjDJ3x1PaNofhl8nPSg2bPLc7bb8w=    14
gAAAAABoJJv_jQivmX8y8gOePnXeFu2OnQLcce7dFZfxGLhhIuiUkSO8fg6rea5wLXV5vgLHsSjGEa2tD8lfCwkenyAvfhORfH1gNuhrr2Tr5qjMCSRuV3E=    14
gAAAAABoJJv_KXhnxMxPUBPBoVpx8flVQICOJQkwR0ZfrdBB2JDspWvj9w9Ina_oLrQpeDca4M1oqaNMDBl3Q-uEqZ9MZw5RM0FmcYK1YH91vo6OSC4Ze90=    14
gAAAAABoJJv_yxJCFKnLSCRBUxbYhKyjbg_ALxM8b9UFyDrqjKCuQ0g_N4BiQCULeTC6a_QwHwn5qsaEGeOj6ICBRa-pbesXo4_i3UPtV--HGcZcOztYJH8=    14
Name: count, dtype: int64

In [74]:
data1[data1['login'] == 'gAAAAABoJJv_UmGb7FjAsnExNbL-FZL6JNrmWR7mIPCCdRDQbFIVCD7axmEpDWlKd-6aMqHzlsI3wfdaUtHXbOYqs45qkdE72TKyXhUVJkWwep4M-D3nRtI=']

,login,year_month,count,trades,inouts,frequency,month_rank,weight,Frequency
197994,gAAAAABoJJv_UmGb7FjAsnExNbL-FZL6JNrmWR7mIPCCdR...,2025-05-01,1,0.0,1.071429,2.071429,0,1.000,2.071429
197993,gAAAAABoJJv_UmGb7FjAsnExNbL-FZL6JNrmWR7mIPCCdR...,2025-04-01,1,0.0,1.071429,2.071429,1,0.975,2.019643
197992,gAAAAABoJJv_UmGb7FjAsnExNbL-FZL6JNrmWR7mIPCCdR...,2025-03-01,1,0.0,1.071429,2.071429,2,0.950,1.967857
197991,gAAAAABoJJv_UmGb7FjAsnExNbL-FZL6JNrmWR7mIPCCdR...,2025-02-01,1,0.0,1.071429,2.071429,3,0.925,1.916071
197990,gAAAAABoJJv_UmGb7FjAsnExNbL-FZL6JNrmWR7mIPCCdR...,2025-01-01,1,0.0,1.071429,2.071429,4,0.900,1.864286
197989,gAAAAABoJJv_UmGb7FjAsnExNbL-FZL6JNrmWR7mIPCCdR...,2024-12-01,1,0.0,1.071429,2.071429,5,0.875,1.812500
197988,gAAAAABoJJv_UmGb7FjAsnExNbL-FZL6JNrmWR7mIPCCdR...,2024-11-01,1,0.0,1.071429,2.071429,6,0.850,1.760714
197987,gAAAAABoJJv_UmGb7FjAsnExNbL-FZL6JNrmWR7mIPCCdR...,2024-10-01,1,0.0,1.071429,2.071429,7,0.825,1.708929
197986,gAAAAABoJJv_UmGb7FjAsnExNbL-FZL6JNrmWR7mIPCCdR...,2024-09-01,1,0.0,1.071429,2.071429,8,0.800,1.657143
197985,gAAAAABoJJv_UmGb7FjAsnExNbL-FZL6JNrmWR7mIPCCdR...,2024-08-01,1,0.0,1.071429,2.071429,9,0.775,1.605357
197984,gAAAAABoJJv_UmGb7FjAsnExNbL-FZL6JNrmWR7mIPCCdR...,2024-07-01,1,0.0,1.071429,2.071429,10,0.750,1.553571
197983,gAAAAABoJJv_UmGb7FjAsnExNbL-FZL6JNrmWR7mIPCCdR...,2024-06-01,1,0.0,1.071429,2.071429,11,0.725,1.501786
197982,gAAAAABoJJv_UmGb7FjAsnExNbL-FZL6JNrmWR7mIPCCdR...,2024-05-01,1,0.0,1.071429,2.071429,12,0.700,1.450000
197981,gAAAAABoJJv_UmGb7FjAsnExNbL-FZL6JNrmWR7mIPCCdR...,2023-09-01,1,0.0,1.071429,2.071429,20,0.500,1.035714

In [75]:
data1.shape

(585567, 9)

In [76]:
datetime_cols = ['date_last_activity', 'date_last_inouts', 'date_last_conv', 'date_trunc']

data[datetime_cols] = data[datetime_cols].apply(pd.to_datetime, errors='coerce')

In [77]:
data['last_activity'] = data[['date_last_activity', 'date_last_inouts', 'date_last_conv', 'date_trunc']].max(axis=1)
snapshot_date = data['last_activity'].max()

data1['Recency'] = (snapshot_date - data['last_activity']).dt.days
data1 = data1.merge(data[['login', 'client_id']], on='login', how='left')

In [78]:
data1.shape

(4634774, 11)

In [79]:
data1 = data1.drop_duplicates(subset='login')

In [80]:
cols = ['client_id'] + [col for col in data1.columns if col != 'client_id']
data1 = data1[cols]
data1

,client_id,login,year_month,count,trades,inouts,frequency,month_rank,weight,Frequency,Recency
0,MUfFBHz-MYtrV4iZWgny9bmA4H9cqWquH6Rjc9qfAoaSwA...,gAAAAABoJJv_BaqQN1H5ZhsnDFVXsX1rgTMKaD-qybtIhx...,2025-05-01,1,0.153846,0.000000,1.153846,0,1.0,1.153846,73
13,gAAAAABoJJwFkjz_rrON-2FIkPGErOgKoqErH613thCXgM...,gAAAAABoJJv_bO6pKnoe2uOOSCKkKec5QQ3qNdvI7IpIoy...,2025-05-01,1,0.000000,0.000000,1.000000,0,1.0,1.000000,67
18,gAAAAABoJJwEJm7IUKxGSk6XdlJYRQ6mG40Xc0VnDByuqx...,gAAAAABoJJv_6GqSFd590ZsYGxssHbK6mufENlLgYIt5HN...,2025-05-01,1,406.846154,0.769231,408.615385,0,1.0,408.615385,19
31,gAAAAABoJJwF8la-99qR3hdqXFr0y29quOLg2T-Arw2Olv...,gAAAAABoJJv_6GxL6oxDxEsnHJHOyYAxWOZcUcVW1VuX3s...,2025-05-01,1,4.000000,3.000000,8.000000,0,1.0,8.000000,130
32,gAAAAABoJJwFOHVTJX_5Mm_NRzOOXobVGJHnqVXueEAx4i...,gAAAAABoJJv_bNz4XJDeKaMDIkRx8jOYuzToHo20dUSiJv...,2025-05-01,1,15.750000,3.250000,20.000000,0,1.0,20.000000,316
...,...,...,...,...,...,...,...,...,...,...,...
4634769,gAAAAABoJJwFgjQ6Mw8aZwIMp5KQUawqT72hVKn2VGwQJY...,gAAAAABoJJwA4ffCwboWgur059mETZznf_MMkbMPTJci-n...,2023-05-01,1,0.000000,0.000000,1.000000,24,0.4,0.400000,8
4634770,gAAAAABoJJwG29eCsigJkH2kMS5ZP9zQfk-_JLdcJ4-wcC...,gAAAAABoJJv_b2R8k47BTrNtpjUz-oCvkdFJwCzEPkRL71...,2023-05-01,1,3.000000,1.000000,5.000000,24,0.4,2.000000,224
4634771,gAAAAABoJJwGSqSsck7BpcW1TYdHu44zG-XoCni05NaiRE...,gAAAAABoJJwACxxcwkDnrM83Apkeufm3cyNLGDTCqv2wrZ...,2023-05-01,1,0.000000,0.000000,1.000000,24,0.4,0.400000,143
4634772,gAAAAABoJJwGw5Tg0Bzxjs4EUwojrtRUgYBlLQHQsGqe2R...,gAAAAABoJJv_JJ-CLQva9rwWZL9Y__VHcQbVluvO9XMK8t...,2023-05-01,1,0.000000,0.000000,1.000000,24,0.4,0.400000,130
4634773,gAAAAABoJJwE0HVz36NntjxwEY1WfBi0XjSCCiLVSFIZK4...,gAAAAABoJJwBL5B67OtS8enoRsdGTwjrYjjZ0bzqXdxzr-...,2023-05-01,1,0.000000,0.000000,1.000000,24,0.4,0.400000,1

In [81]:
login_counts = data1['client_id'].value_counts()
print(login_counts.head(10))

client_id
gAAAAABoJJwD45RH8SI9tFZ6nfIs1K7Vntb2m4Rrbi17KY4O8IqTW_AeOpBCT9JkgCDfoFtvuuZB2BJFSZiSsQNE5yVyh6EB6A==    23
gAAAAABoJJwDVmEj7Bcx0U8brhFnRg1ng7D6NU5N0rrUub8yTEanX5xXoBc3XbW4l49pT6BpHVtyGjDm823Tv3mZR15-Gcw9Bg==    18
gAAAAABoJJwDsUa6X3EKVBvRmbBZgoSWnonNNm7gOVKCa3MZIGuw-Fmv-hfAZFk_w8vWJxiY3xqW6VI1A8hO_DxLQtDY3MzjIQ==    10
gAAAAABoJJwEAA-ysXLM1ZLokNrv7hyWcjEa3xm9QzhDjuUcMlEZnYgeFVpeqr4in7j7b4yo2kZ5UyoZ6nUry-HvdLyuNNdt6g==     8
gAAAAABoJJwDOhWhmE-fkzSiz5qCs2360U7L6QanDPdAokY2fwbbUSc4tQFu_DRH2g8sItkCRRtIYss1_oIQZOfCZ2WQaGC_4w==     8
gAAAAABoJJwF2wP0UxccaF_wGtwMba6Exk3QumdpTITR9DCA_fOGLV-SZ0YTtcFiL8GxmKANfZf1DSKPcAFuyV4QST6yD2iLIQ==     8
gAAAAABoJJwDiKnZFX0QFzvIFwxTemdtYLTH94WNyRjT73Vuim_A5ySrOENnnF6hnGUtaXcu3tWG2kGoVfSOAxG68WzaCqsMyQ==     7
gAAAAABoJJwEpnXD0KXNgeHQaWYXHa3vDZp_VwyInI1ZVjxCQuI97qClNC2MTOqcz6s_BQxgnP6ca0ZgHr_jmSw2eE2_Y_kZqg==     7
gAAAAABoJJwEKiiNzCbe636S_-qFf1gz-Vv3NIcjJh0K-yXGDNJND8WhFyPkCppUCODvdsFoxAQSV67RwytY87pXYQrjt8jyUQ==     7
gAAAAABoJJwEApj_JkMgMNOmcCgKLyNBZv9IvhowqbkGuwfUGMpaLQTA-_gD_oRB4rZlGt2kRPkVS5ZwVaaUMbsKY3nHDlRCOA==     7
Name: count, dtype: int64

In [82]:
data1

,client_id,login,year_month,count,trades,inouts,frequency,month_rank,weight,Frequency,Recency
0,MUfFBHz-MYtrV4iZWgny9bmA4H9cqWquH6Rjc9qfAoaSwA...,gAAAAABoJJv_BaqQN1H5ZhsnDFVXsX1rgTMKaD-qybtIhx...,2025-05-01,1,0.153846,0.000000,1.153846,0,1.0,1.153846,73
13,gAAAAABoJJwFkjz_rrON-2FIkPGErOgKoqErH613thCXgM...,gAAAAABoJJv_bO6pKnoe2uOOSCKkKec5QQ3qNdvI7IpIoy...,2025-05-01,1,0.000000,0.000000,1.000000,0,1.0,1.000000,67
18,gAAAAABoJJwEJm7IUKxGSk6XdlJYRQ6mG40Xc0VnDByuqx...,gAAAAABoJJv_6GqSFd590ZsYGxssHbK6mufENlLgYIt5HN...,2025-05-01,1,406.846154,0.769231,408.615385,0,1.0,408.615385,19
31,gAAAAABoJJwF8la-99qR3hdqXFr0y29quOLg2T-Arw2Olv...,gAAAAABoJJv_6GxL6oxDxEsnHJHOyYAxWOZcUcVW1VuX3s...,2025-05-01,1,4.000000,3.000000,8.000000,0,1.0,8.000000,130
32,gAAAAABoJJwFOHVTJX_5Mm_NRzOOXobVGJHnqVXueEAx4i...,gAAAAABoJJv_bNz4XJDeKaMDIkRx8jOYuzToHo20dUSiJv...,2025-05-01,1,15.750000,3.250000,20.000000,0,1.0,20.000000,316
...,...,...,...,...,...,...,...,...,...,...,...
4634769,gAAAAABoJJwFgjQ6Mw8aZwIMp5KQUawqT72hVKn2VGwQJY...,gAAAAABoJJwA4ffCwboWgur059mETZznf_MMkbMPTJci-n...,2023-05-01,1,0.000000,0.000000,1.000000,24,0.4,0.400000,8
4634770,gAAAAABoJJwG29eCsigJkH2kMS5ZP9zQfk-_JLdcJ4-wcC...,gAAAAABoJJv_b2R8k47BTrNtpjUz-oCvkdFJwCzEPkRL71...,2023-05-01,1,3.000000,1.000000,5.000000,24,0.4,2.000000,224
4634771,gAAAAABoJJwGSqSsck7BpcW1TYdHu44zG-XoCni05NaiRE...,gAAAAABoJJwACxxcwkDnrM83Apkeufm3cyNLGDTCqv2wrZ...,2023-05-01,1,0.000000,0.000000,1.000000,24,0.4,0.400000,143
4634772,gAAAAABoJJwGw5Tg0Bzxjs4EUwojrtRUgYBlLQHQsGqe2R...,gAAAAABoJJv_JJ-CLQva9rwWZL9Y__VHcQbVluvO9XMK8t...,2023-05-01,1,0.000000,0.000000,1.000000,24,0.4,0.400000,130
4634773,gAAAAABoJJwE0HVz36NntjxwEY1WfBi0XjSCCiLVSFIZK4...,gAAAAABoJJwBL5B67OtS8enoRsdGTwjrYjjZ0bzqXdxzr-...,2023-05-01,1,0.000000,0.000000,1.000000,24,0.4,0.400000,1

In [83]:
data.head(2)

,login,date_trunc,comission,client_id,age_segment,sex_type,canal,client_type,date_last_activity,cnt_trades,balance,date_last_conv,date_last_inouts,cnt_inouts,sum_ins,year_month,last_activity
0,gAAAAABoJJv_qHikYqdScL6GZufmdDlRVavt-MBaWfMTCO...,2024-11-01,0.015561,dqT7aJgfzSweu1B4wRp2I_k19RYOyh23_yfW0OdNmAV0Nr...,NaN,NaN,NaN,NaN,2025-01-28,39.0,NaN,NaT,NaT,NaN,NaN,2024-11,2025-01-28
1,gAAAAABoJJv_ZSFiec53fnVc_HgE0xLBCYVH0dRwPBS5w2...,2025-05-01,179.493354,gAAAAABoJJwET07yYPlicFk0z3zv3ah-P5vKgtElfpoLVX...,35-44 лет,М,Органика,ФЛ,2025-05-12,126.0,2254.303165,2025-05-01,2025-04-17,28.0,130409.142881,2025-05,2025-05-12

In [84]:
forR = data.groupby(['login', 'year_month'])[['comission', 'sum_ins', 'balance']].sum().reset_index()
forR

,login,year_month,comission,sum_ins,balance
0,gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...,2025-02,327.658123,0.000000,0.000000
1,gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...,2025-03,0.943005,0.000000,0.000000
2,gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...,2025-04,0.721361,0.000000,0.000000
3,gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...,2025-05,0.347616,0.000000,0.000000
4,gAAAAABoJJv_--5gAsCr8RIYiy__3o0zxa2niOeZG_pFYv...,2024-12,14.012854,137376.844064,4016.611055
...,...,...,...,...,...
585562,gAAAAABoJJwBzypRfVZ5yxSKJvBV1-BJl9IFlG-d5ASyro...,2024-06,1.240505,3508.232333,2579.207443
585563,gAAAAABoJJwBzypRfVZ5yxSKJvBV1-BJl9IFlG-d5ASyro...,2024-07,0.105135,3508.232333,2579.207443
585564,gAAAAABoJJwBzz1w6JEyK--v1yHKLfrU_xxcSEabMtgOsW...,2024-02,253.834355,751.622372,0.000000
585565,gAAAAABoJJwBzz_ZT7hltUEHe5mC1W2MUGSfmKTojFAgQo...,2025-03,5.818943,0.000000,0.000000
585566,gAAAAABoJJwBzzqLECSFvysLpL3vfmMvmRYrmCFg2CVhW8...,2024-09,0.995852,0.000000,0.000000

In [91]:
mask = (forR['sum_ins'] > 0) & (forR['balance'] > 0)

forR.loc[mask, 'sum_ins'] = forR.loc[mask, 'comission']
forR.loc[mask, 'balance'] = forR.loc[mask, 'comission'] / forR.loc[mask, 'sum_ins'] * forR.loc[mask, 'balance']

forR.loc[~mask, 'sum_ins'] = 0
forR.loc[~mask, 'balance'] = 0

In [92]:
forR['Monetory'] = forR['comission'] + forR['sum_ins'] + forR['balance']

In [94]:
forR

,login,year_month,comission,sum_ins,balance,Monetory
0,gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...,2025-02,327.658123,0.000000,0.000000,327.658123
1,gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...,2025-03,0.943005,0.000000,0.000000,0.943005
2,gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...,2025-04,0.721361,0.000000,0.000000,0.721361
3,gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...,2025-05,0.347616,0.000000,0.000000,0.347616
4,gAAAAABoJJv_--5gAsCr8RIYiy__3o0zxa2niOeZG_pFYv...,2024-12,14.012854,14.012854,4016.611055,4044.636763
...,...,...,...,...,...,...
585562,gAAAAABoJJwBzypRfVZ5yxSKJvBV1-BJl9IFlG-d5ASyro...,2024-06,1.240505,1.240505,2579.207443,2581.688454
585563,gAAAAABoJJwBzypRfVZ5yxSKJvBV1-BJl9IFlG-d5ASyro...,2024-07,0.105135,0.105135,2579.207443,2579.417713
585564,gAAAAABoJJwBzz1w6JEyK--v1yHKLfrU_xxcSEabMtgOsW...,2024-02,253.834355,0.000000,0.000000,253.834355
585565,gAAAAABoJJwBzz_ZT7hltUEHe5mC1W2MUGSfmKTojFAgQo...,2025-03,5.818943,0.000000,0.000000,5.818943
585566,gAAAAABoJJwBzzqLECSFvysLpL3vfmMvmRYrmCFg2CVhW8...,2024-09,0.995852,0.000000,0.000000,0.995852

In [87]:
data1 = data1.merge(forR[['login', 'Monetory', 'year_month']], on='login', how='left')

In [88]:
data1

,client_id,login,year_month,count,trades,inouts,frequency,month_rank,weight,Frequency,Recency,Monetory
0,MUfFBHz-MYtrV4iZWgny9bmA4H9cqWquH6Rjc9qfAoaSwA...,gAAAAABoJJv_BaqQN1H5ZhsnDFVXsX1rgTMKaD-qybtIhx...,2025-05-01,1,0.153846,0.0,1.153846,0,1.0,1.153846,73,159.428566
1,MUfFBHz-MYtrV4iZWgny9bmA4H9cqWquH6Rjc9qfAoaSwA...,gAAAAABoJJv_BaqQN1H5ZhsnDFVXsX1rgTMKaD-qybtIhx...,2025-05-01,1,0.153846,0.0,1.153846,0,1.0,1.153846,73,264.119234
2,MUfFBHz-MYtrV4iZWgny9bmA4H9cqWquH6Rjc9qfAoaSwA...,gAAAAABoJJv_BaqQN1H5ZhsnDFVXsX1rgTMKaD-qybtIhx...,2025-05-01,1,0.153846,0.0,1.153846,0,1.0,1.153846,73,234.940145
3,MUfFBHz-MYtrV4iZWgny9bmA4H9cqWquH6Rjc9qfAoaSwA...,gAAAAABoJJv_BaqQN1H5ZhsnDFVXsX1rgTMKaD-qybtIhx...,2025-05-01,1,0.153846,0.0,1.153846,0,1.0,1.153846,73,267.725860
4,MUfFBHz-MYtrV4iZWgny9bmA4H9cqWquH6Rjc9qfAoaSwA...,gAAAAABoJJv_BaqQN1H5ZhsnDFVXsX1rgTMKaD-qybtIhx...,2025-05-01,1,0.153846,0.0,1.153846,0,1.0,1.153846,73,247.655693
...,...,...,...,...,...,...,...,...,...,...,...,...
585562,gAAAAABoJJwFgjQ6Mw8aZwIMp5KQUawqT72hVKn2VGwQJY...,gAAAAABoJJwA4ffCwboWgur059mETZznf_MMkbMPTJci-n...,2023-05-01,1,0.000000,0.0,1.000000,24,0.4,0.400000,8,335.828811
585563,gAAAAABoJJwG29eCsigJkH2kMS5ZP9zQfk-_JLdcJ4-wcC...,gAAAAABoJJv_b2R8k47BTrNtpjUz-oCvkdFJwCzEPkRL71...,2023-05-01,1,3.000000,1.0,5.000000,24,0.4,2.000000,224,45.475024
585564,gAAAAABoJJwGSqSsck7BpcW1TYdHu44zG-XoCni05NaiRE...,gAAAAABoJJwACxxcwkDnrM83Apkeufm3cyNLGDTCqv2wrZ...,2023-05-01,1,0.000000,0.0,1.000000,24,0.4,0.400000,143,58.580022
585565,gAAAAABoJJwGw5Tg0Bzxjs4EUwojrtRUgYBlLQHQsGqe2R...,gAAAAABoJJv_JJ-CLQva9rwWZL9Y__VHcQbVluvO9XMK8t...,2023-05-01,1,0.000000,0.0,1.000000,24,0.4,0.400000,130,6.481791
585566,gAAAAABoJJwE0HVz36NntjxwEY1WfBi0XjSCCiLVSFIZK4...,gAAAAABoJJwBL5B67OtS8enoRsdGTwjrYjjZ0bzqXdxzr-...,2023-05-01,1,0.000000,0.0,1.000000,24,0.4,0.400000,1,42.056466

In [446]:
ax = ax.merge(data[['login', 'Recency', 'client_id']], on='login', how='left')

In [447]:
ax

,login,year_month,count,trades,inouts,frequency,Recency,client_id
0,gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...,2025-02,1,0.0,0.0,1.0,42,PlWX73cuCfm_9qjGM8U5TFacoQeGafeuzZNV440xXFuXM7...
1,gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...,2025-02,1,0.0,0.0,1.0,101,GGQcfIdLn9FnskY-J0YCbFWkUa4B-VECygyDcIWB3Y___p...
2,gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...,2025-02,1,0.0,0.0,1.0,73,Y7vrVURXMzoimySZcu2ugjJ9DMODULzcdH3nRc7jPWQXZY...
3,gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...,2025-02,1,0.0,0.0,1.0,12,MIGhTVw1K_YTLVPa5LpAL8p0ol3fvlBJTVdk2jdIiAe9gS...
4,gAAAAABoJJv_--48gPQbQkv5vKojQIEhR8XonnIieRe6Fg...,2025-03,1,0.0,0.0,1.0,42,PlWX73cuCfm_9qjGM8U5TFacoQeGafeuzZNV440xXFuXM7...
...,...,...,...,...,...,...,...,...
4634769,gAAAAABoJJwBzypRfVZ5yxSKJvBV1-BJl9IFlG-d5ASyro...,2024-07,1,10.0,0.5,11.5,312,gAAAAABoJJwDRQU1Z0ek-wsW_VGSdMDGM8g52PALP9t7YD...
4634770,gAAAAABoJJwBzypRfVZ5yxSKJvBV1-BJl9IFlG-d5ASyro...,2024-07,1,10.0,0.5,11.5,312,gAAAAABoJJwDRQU1Z0ek-wsW_VGSdMDGM8g52PALP9t7YD...
4634771,gAAAAABoJJwBzz1w6JEyK--v1yHKLfrU_xxcSEabMtgOsW...,2024-02,1,0.0,0.0,1.0,466,gAAAAABoJJwG281FJIskBfRs5nUC41RLfhZOK6Lq5fTQ9b...
4634772,gAAAAABoJJwBzz_ZT7hltUEHe5mC1W2MUGSfmKTojFAgQo...,2025-03,1,6.0,0.0,7.0,63,qdLH6FqCl-KBX8gZvsemz0foYEWzePaXHK-656xWh5hwgo...
4634773,gAAAAABoJJwBzzqLECSFvysLpL3vfmMvmRYrmCFg2CVhW8...,2024-09,1,0.0,0.0,1.0,254,vCfZTifG3dFiEKy4lZu_2-s0NUw5sBWi2bI5sS-ipe2qTo...

In [448]:
ax['client_id'].isnull().sum()

0

In [599]:
data.head(2)

,login,date_trunc,comission,client_id,age_segment,sex_type,canal,client_type,date_last_activity,cnt_trades,balance,date_last_conv,date_last_inouts,cnt_inouts,sum_ins,year_month,last_activity
0,gAAAAABoJJv_qHikYqdScL6GZufmdDlRVavt-MBaWfMTCO...,2024-11-01,0.015561,pbjx-q_RV8m-2V4P6n07Ynkhp4G4Zr6UBdlLXAh_VWG8q8...,NaN,NaN,NaN,NaN,2025-01-28,39.0,NaN,NaT,NaT,NaN,NaN,2024-11,2025-01-28
1,gAAAAABoJJv_ZSFiec53fnVc_HgE0xLBCYVH0dRwPBS5w2...,2025-05-01,179.493354,gAAAAABoJJwET07yYPlicFk0z3zv3ah-P5vKgtElfpoLVX...,35-44 лет,М,Органика,ФЛ,2025-05-12,126.0,2254.303165,2025-05-01,2025-04-17,28.0,130409.142881,2025-05,2025-05-12

In [387]:
balance = balance.merge(ins, on='client_id', how='left')
balance = balance.merge(acc[['login', 'client_id']],  on='client_id', how='left')

In [389]:
commissions = commissions.merge(balance, on='login', how='left')
commissions

,login,date_trunc,comission,client_id,balance,sum_ins_x,sum_ins_y
0,gAAAAABoJJv_qHikYqdScL6GZufmdDlRVavt-MBaWfMTCO...,2024-11-01,0.015561,NaN,NaN,NaN,NaN
1,gAAAAABoJJv_ZSFiec53fnVc_HgE0xLBCYVH0dRwPBS5w2...,2025-05-01,179.493354,gAAAAABoJJwET07yYPlicFk0z3zv3ah-P5vKgtElfpoLVX...,2254.303165,130409.142881,130409.142881
2,gAAAAABoJJv_W_DcPTdQWOkvjRSWX246PhIyvszCPeN-o5...,2025-02-01,1570.616107,gAAAAABoJJwEwQpb71fcm_T26fRsZiCrld4bKWqeiLETbQ...,247811.780537,170090.019485,170090.019485
3,gAAAAABoJJv_a67iD2EMMwrHv_-cdT1c-7DTBCeHsC4gBF...,2025-02-01,12.943555,gAAAAABoJJwG0E5w_9eBiqhswqQRO4Tt3OYDuTT5_eskSM...,15897.802582,40351.795065,40351.795065
4,gAAAAABoJJv_pq0X5A5P4XryTpDmvQePFZT6lw5O8xKVul...,2025-01-01,23.058066,gAAAAABoJJwD7Ugk7yXw5IKU3Yejk294zqzm4Myvc-aEkr...,21741.879087,12991.382638,12991.382638
...,...,...,...,...,...,...,...
585653,gAAAAABoJJv_nMFr2OnIVcR5IyWWK9M_7_7qbhzSFf_0DL...,2025-01-01,13.742631,NaN,NaN,NaN,NaN
585654,gAAAAABoJJv_XcqQ8hyQqcCbB7de-TvUZtHDb02m2Tnw0x...,2025-05-01,9.910064,NaN,NaN,NaN,NaN
585655,gAAAAABoJJv_BxNz_vxpuCFCtB_RrC2lZKkNZGQbf3JvZ4...,2025-01-01,3.893384,gAAAAABoJJwFf_zF3sll76PBkNR70uNhUhjcdTi1NOGZK-...,5054.741736,47402.207579,47402.207579
585656,gAAAAABoJJv_p7l6QPek5OTovfwW_A2CMX5yixhKJQxpGj...,2024-07-01,20.162542,gAAAAABoJJwEW3I-ceqHLakcEPkrHjKJ7OKhcCzmsCo3gI...,39306.633024,71793.871716,71793.871716
585657,gAAAAABoJJv_ie5-yT7AkZxbjisORnE3pG7y_82zMWOqPU...,2024-10-01,356.870123,gAAAAABoJJwE3N-N8HksoRYoyu_i8b6k4HdoWDz9o1jabg...,228944.930914,561097.693988,561097.693988

In [143]:
# комиссии
comm = (
    comissions[['login', 'date_trunc']]
    .rename(columns={'date_trunc': 'date'})
    .assign(event='commission')
)

# торговля
trades_ev = (
    trades[['login', 'date_last_activity']]
    .rename(columns={'date_last_activity': 'date'})
    .assign(event='trade')
)

# ввод/вывод
inouts_ev = (
    inouts
    .merge(acc[['login', 'client_id']], on='client_id', how='left')
    .rename(columns={'date_last_inouts': 'date'})
    .assign(event='inout')
)

# конвертация
conv_ev = (
    exchange
    .merge(acc[['login', 'client_id']], on='client_id', how='left')
    .rename(columns={'date_last_conv': 'date'})
    .assign(event='conversion')
)

all_events = pd.concat([comm, trades_ev, inouts_ev, conv_ev], ignore_index=True)
all_events['date'] = pd.to_datetime(all_events['date'], errors='coerce')

all_events


# for col in ['date_last_activity', 'date_last_inouts', 'date_last_conv', 'date_trunc']:
#     data[col] = pd.to_datetime(data[col], errors='coerce')

,login,date,event,client_id,cnt_inouts
0,gAAAAABoJJv_qHikYqdScL6GZufmdDlRVavt-MBaWfMTCO...,2024-11-01,commission,NaN,NaN
1,gAAAAABoJJv_ZSFiec53fnVc_HgE0xLBCYVH0dRwPBS5w2...,2025-05-01,commission,gAAAAABoJJwET07yYPlicFk0z3zv3ah-P5vKgtElfpoLVX...,NaN
2,gAAAAABoJJv_W_DcPTdQWOkvjRSWX246PhIyvszCPeN-o5...,2025-02-01,commission,gAAAAABoJJwEwQpb71fcm_T26fRsZiCrld4bKWqeiLETbQ...,NaN
3,gAAAAABoJJv_a67iD2EMMwrHv_-cdT1c-7DTBCeHsC4gBF...,2025-02-01,commission,gAAAAABoJJwG0E5w_9eBiqhswqQRO4Tt3OYDuTT5_eskSM...,NaN
4,gAAAAABoJJv_pq0X5A5P4XryTpDmvQePFZT6lw5O8xKVul...,2025-01-01,commission,gAAAAABoJJwD7Ugk7yXw5IKU3Yejk294zqzm4Myvc-aEkr...,NaN
...,...,...,...,...,...
829022,gAAAAABoJJv_jSI6WG0QyII68QvPWWOEoQCikN6DNpK321...,2025-04-21,conversion,gAAAAABoJJwEaMSZY1nBjjN-svPQpLQeW3HeeLRwjyPTmT...,NaN
829023,gAAAAABoJJwCyDiTmJiUVlos_LE9wDOhD-5JFjhyyif8J5...,2025-05-12,conversion,gAAAAABoJJwE-hzvwi2NxkNhSjrp1R68y2TYg7p0LtwARB...,NaN
829024,gAAAAABoJJwDF7_HTCEul_Asu7SNYtM-ZqJUSKF5C-McrD...,2024-06-05,conversion,gAAAAABoJJwGzNIevSy7vDDwN9-xytRRd9vM-8YGMjWSDE...,NaN
829025,gAAAAABoJJv_4eNGnCkD7SCEMX7BHXimia9GBbW3yEuS-y...,2025-02-07,conversion,gAAAAABoJJwF4oNK_uYJTlvX_mIZFnHFqPQlCoVCVq_jHG...,NaN
829026,gAAAAABoJJwC2zwdHR2pDQ_b-NTXuZFb_6kfOEWa6TIwab...,2025-05-07,conversion,gAAAAABoJJwE7Z83ivGU3Y7twA2uuT0GL9ueVTx-ORUSgx...,NaN

In [205]:
missing_logins = set(commissions['login']) - set(acc['login'])
print("Уникальных логинов в comissions, которых нет в acc:", len(missing_logins))

Уникальных логинов в comissions, которых нет в acc: 50951

In [206]:
print(all_events['client_id'].isnull().sum())
print(all_events['login'].isnull().sum())

238388
28274

In [207]:
num_unique_logins = comissions['login'].nunique()
num_unique_logins1 = acc['login'].nunique()
print(num_unique_logins1 - num_unique_logins)

102584

In [208]:
mask = commissions[comissions['login'].isin(missing_logins)]
mask

,login,date_trunc,comission
0,gAAAAABoJJv_qHikYqdScL6GZufmdDlRVavt-MBaWfMTCO...,2024-11-01,0.015561
6,gAAAAABoJJv_yvUj0DbG_0ZsCa1Po1Ar-VCbR8lb6iDi76...,2025-01-01,0.831281
7,gAAAAABoJJv_9s3UCT5Gm2tebKLhv3OrsH5V8Yzeg6W35a...,2024-07-01,5.188360
10,gAAAAABoJJv_Cjap0v6WZq7_cnkVSB322UQhOzZXvkEhVs...,2025-05-01,18.184130
11,gAAAAABoJJv_DL-ReBYb8KU6ITOl2ZSnnQWSpGidqbUXzF...,2025-03-01,3.755293
...,...,...,...
585642,gAAAAABoJJv_GEKhBsKcH8qIInz-ZCxubUsJO4iamlxYWE...,2025-04-01,71.480487
585645,gAAAAABoJJv_edJce-6bfyS0tzVfRc7fPWh1YcoNHoomPs...,2025-03-01,0.028462
585647,gAAAAABoJJv_iv2KGesvgfNA3UvtSc4yq9hIq5ZZZiaSgV...,2024-09-01,118.639811
585653,gAAAAABoJJv_nMFr2OnIVcR5IyWWK9M_7_7qbhzSFf_0DL...,2025-01-01,13.742631
585654,gAAAAABoJJv_XcqQ8hyQqcCbB7de-TvUZtHDb02m2Tnw0x...,2025-05-01,9.910064

In [204]:
commissions['login'].isin(missing_logins)

0          True
1         False
2         False
3         False
4         False
          ...
585653     True
585654     True
585655    False
585656    False
585657    False
Name: login, Length: 585658, dtype: bool

In [198]:
ax = acc.groupby('client_id')['login'].count().reset_index(name='count')
ax = ax.sort_values(by='count', ascending=False)
ax

                                                client_id  count
2315    gAAAAABoJJwD45RH8SI9tFZ6nfIs1K7Vntb2m4Rrbi17KY...     23
14944   gAAAAABoJJwDVmEj7Bcx0U8brhFnRg1ng7D6NU5N0rrUub...     18
75868   gAAAAABoJJwEdFHshC4E1YEjrndL4askoYANieM3txH09p...     16
17680   gAAAAABoJJwDaiHWqxb5JM1a6j-updcmPKUxOjDjl72LMb...     12
1290    gAAAAABoJJwD1r2jPDzZ-q2QKMGIe5nhkIcHiT_I3daQKE...     10
...                                                   ...    ...
79751   gAAAAABoJJwEgfnHQX4ZDmaUi8WAvrmwGrOdV38ZOHDcMe...      1
79752   gAAAAABoJJwEgfoNB57BVICqunbmtq1rXUP5WUJA3Apgom...      1
79753   gAAAAABoJJwEgfs1iYUz5CKng83tLNTj9yAaTQo1oIGarw...      1
79754   gAAAAABoJJwEgfsP6YiZ681WQtyDgwMPNTPmuiN7oVJeDU...      1
236121  gAAAAABoJJwGzzy9_myZKlz9jP2LYxn8NzsEFeNguXM4o3...      1

[236122 rows x 2 columns]

In [188]:
acc.shape

(240222, 6)

In [189]:
commissions.shape

(585658, 3)

In [180]:
missing_logins = set(trades['login']) - set(acc['login'])
print("Уникальных логинов в comissions, которых нет в acc:", len(missing_logins))

Уникальных логинов в comissions, которых нет в acc: 14921

In [183]:
missing_logins = set(balance['client_id']) - set(acc['client_id'])
print("Уникальных логинов в comissions, которых нет в acc:", len(missing_logins))

Уникальных логинов в comissions, которых нет в acc: 9

In [185]:
missing_logins = set(exchange['client_id']) - set(acc['client_id'])
print("Уникальных логинов в comissions, которых нет в acc:", len(missing_logins))

Уникальных логинов в comissions, которых нет в acc: 92

In [186]:
missing_logins = set(inouts['client_id']) - set(acc['client_id'])
print("Уникальных логинов в comissions, которых нет в acc:", len(missing_logins))

Уникальных логинов в comissions, которых нет в acc: 28182

In [187]:
missing_logins = set(ins['client_id']) - set(acc['client_id'])
print("Уникальных логинов в comissions, которых нет в acc:", len(missing_logins))

Уникальных логинов в comissions, которых нет в acc: 90855

In [138]:
all_events

,login,date,event,client_id,cnt_inouts
0,gAAAAABoJJv_qHikYqdScL6GZufmdDlRVavt-MBaWfMTCO...,2024-11-01,commission,NaN,NaN
1,gAAAAABoJJv_ZSFiec53fnVc_HgE0xLBCYVH0dRwPBS5w2...,2025-05-01,commission,NaN,NaN
2,gAAAAABoJJv_W_DcPTdQWOkvjRSWX246PhIyvszCPeN-o5...,2025-02-01,commission,NaN,NaN
3,gAAAAABoJJv_a67iD2EMMwrHv_-cdT1c-7DTBCeHsC4gBF...,2025-02-01,commission,NaN,NaN
4,gAAAAABoJJv_pq0X5A5P4XryTpDmvQePFZT6lw5O8xKVul...,2025-01-01,commission,NaN,NaN
...,...,...,...,...,...
829022,gAAAAABoJJv_jSI6WG0QyII68QvPWWOEoQCikN6DNpK321...,2025-04-21,conversion,gAAAAABoJJwEaMSZY1nBjjN-svPQpLQeW3HeeLRwjyPTmT...,NaN
829023,gAAAAABoJJwCyDiTmJiUVlos_LE9wDOhD-5JFjhyyif8J5...,2025-05-12,conversion,gAAAAABoJJwE-hzvwi2NxkNhSjrp1R68y2TYg7p0LtwARB...,NaN
829024,gAAAAABoJJwDF7_HTCEul_Asu7SNYtM-ZqJUSKF5C-McrD...,2024-06-05,conversion,gAAAAABoJJwGzNIevSy7vDDwN9-xytRRd9vM-8YGMjWSDE...,NaN
829025,gAAAAABoJJv_4eNGnCkD7SCEMX7BHXimia9GBbW3yEuS-y...,2025-02-07,conversion,gAAAAABoJJwF4oNK_uYJTlvX_mIZFnHFqPQlCoVCVq_jHG...,NaN
829026,gAAAAABoJJwC2zwdHR2pDQ_b-NTXuZFb_6kfOEWa6TIwab...,2025-05-07,conversion,gAAAAABoJJwE7Z83ivGU3Y7twA2uuT0GL9ueVTx-ORUSgx...,NaN

In [132]:
data['last_activity'] = data[['date_last_activity', 'date_last_inouts', 'date_last_conv', 'date_trunc']].max(axis=1)
snapshot_date = data['last_activity'].max()

rfm = pd.DataFrame()
rfm['Recency'] = (snapshot_date - data['last_activity']).dt.days

In [133]:
recency = data.groupby('login')['Recency'].max().reset_index()

In [134]:
recency['Recency'].min()

0.0

In [135]:
data['month'] = data['date_trunc'].dt.month_name()
data['day_of_week'] = data['date_trunc'].dt.day_name()

daily = data.groupby(['login', 'day_of_week']).size().unstack(fill_value=0)
monthly = data.groupby(['login', 'month']).size().unstack(fill_value=0)
daily

day_of_week,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
login,,,,,,,
gAAAAABoJJv_--5gAsCr8RIYiy__3o0zxa2niOeZG_pFYvft6iWRwQhQIV3x3RMtOBXkqBu5ZYx74NEsFPP43-sS-MjhPhZmWZyJUGHsbwnwZVjdOcSx_bM=,0,0,2,1,0,1,1
gAAAAABoJJv_--CSnnHq9vdbwZ3jqJKkY7_7CqDCqgNA_Q4tg99418JXCpDCitb8KmrU652KF32_zXms2b_SfWbmc1EeIFt5uCzYlvdOB6it2YH2T601Woo=,0,2,1,0,1,0,0
gAAAAABoJJv_--KWr4CCdednLevbHdA9N9bfx5VMTHMR5-5A-bowXxtDDth2CR7ZStd4ytSIBaJh6xczBCBNSNPLOCW-xrV4I74sFuKgtPx0xZma0W2HH84=,0,0,1,0,1,1,0
gAAAAABoJJv_--PMTRV2ZDlXRzfF4y3vKK60YjZkWhLnwzxE5vJowVz9maFdLeEFsA_snhKgSqhSpG44tGZpfQe2nOWkr1MUsiKJqYEcGgtWREGZBoZyw7Y=,0,0,0,1,0,1,0
gAAAAABoJJv_--PmsYDvkT6tWsOnem-oIPvqofknB21qJH-SLPSp96OAH2LDR04Sju3I3IYfx3rYmAj29gcsTIkCGNiC3gVoSg==,1,1,3,2,2,1,2
...,...,...,...,...,...,...,...
gAAAAABoJJwBzyQkzknE5Ly1qsDgqgpUiN-W9rH3VKN02vhFfxwf8iAEm9HZFo8UMK0-j9CJp8sJ9qlMBReNqeaR2TJoTbYXvxdN-7ZAk_Biajlxl_ycH5M=,0,0,1,0,0,0,0
gAAAAABoJJwBzy_7D3-TG3QZ28a7ltqAURXvvn1lUfrbsT1BSdt8FHaE5Kht8ZdcLYTjPj2twERWNfDfR9dthEll6PsvwT-gkdLUvP9khHupWQl_L3L3ydg=,0,0,0,0,0,0,1
gAAAAABoJJwBzyjyZaVB2xBg2yt2I0BHgdmMosR4VylnRv_TgF3vNmdzcey_2BHm4O15OAs7ts1qH_4qikDRJGu0h1cBiQ7ojF4g9xAr5yauaypEwSoRZxc=,0,1,0,1,0,0,0
gAAAAABoJJwBzypRfVZ5yxSKJvBV1-BJl9IFlG-d5ASyroSC2x4ZEL3ECRXKq7FQ9Rhdy1T0ELBESZfe6OIl5vfG35ik7D7Fi_c07vyjY2KxJNHvpiOXhCc=,0,1,1,0,0,0,0
gAAAAABoJJwBzz1w6JEyK--v1yHKLfrU_xxcSEabMtgOsWXEXTduLZu8wU2o9iwcf1zvaER4haAMvQINweTp0zjoe4Bqn6NkIpsq9EkAXe8omumceTpcpWY=,1,0,0,0,0,0,0

In [86]:
data['Frequency'] = data[['cnt_inouts', 'cnt_trades']].sum(axis=1, skipna=True)

In [88]:
com_total = comissions.groupby('login')['comission'].sum().reset_index()

data = data.merge(com_total, on='login', how='left', suffixes=('', '_total'))

data['Monetary'] = data[['sum_ins', 'comission_total']].sum(axis=1, skipna=True)
data

,login,client_id,age_segment,sex_type,canal,client_type,balance,date_last_conv,date_last_inouts,cnt_inouts,sum_ins,date_trunc,comission,date_last_activity,cnt_trades,last_activity,Recency,Frequency,comission_total,Monetary
0,gAAAAABoJJwBusMvEfdCoBv-GUuSnkkIhm34YIYtbcOUq5...,gAAAAABoJJwDG_D5rwTXB2DFmknUqBcPfdV8wwRI68GCFm...,25-34 лет,Ж,Органика,ФЛ,689.309532,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,0.0,NaN,0.000000
1,gAAAAABoJJv_l1zCx6Q3UiOFMqYQjyxdncyiq4htk_XgoB...,gAAAAABoJJwDguZPspoz3Tqk5SdU1MvGiOAd5w8W9LnHse...,55 лет +,М,Органика,ФЛ,209.717374,2025-04-29,2025-04-30,3.0,9441.953924,2025-01-01,8.794428,2025-04-17,51.0,2025-04-30,13.0,54.0,97.068453,9539.022377
2,gAAAAABoJJv_l1zCx6Q3UiOFMqYQjyxdncyiq4htk_XgoB...,gAAAAABoJJwDguZPspoz3Tqk5SdU1MvGiOAd5w8W9LnHse...,55 лет +,М,Органика,ФЛ,209.717374,2025-04-29,2025-04-30,3.0,9441.953924,2025-04-01,7.079037,2025-04-17,51.0,2025-04-30,13.0,54.0,97.068453,9539.022377
3,gAAAAABoJJv_l1zCx6Q3UiOFMqYQjyxdncyiq4htk_XgoB...,gAAAAABoJJwDguZPspoz3Tqk5SdU1MvGiOAd5w8W9LnHse...,55 лет +,М,Органика,ФЛ,209.717374,2025-04-29,2025-04-30,3.0,9441.953924,2024-07-01,5.107558,2025-04-17,51.0,2025-04-30,13.0,54.0,97.068453,9539.022377
4,gAAAAABoJJv_l1zCx6Q3UiOFMqYQjyxdncyiq4htk_XgoB...,gAAAAABoJJwDguZPspoz3Tqk5SdU1MvGiOAd5w8W9LnHse...,55 лет +,М,Органика,ФЛ,209.717374,2025-04-29,2025-04-30,3.0,9441.953924,2023-06-02,33.502797,2025-04-17,51.0,2025-04-30,13.0,54.0,97.068453,9539.022377
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515721,gAAAAABoJJv_k0noVDFKUxGS2DjADVMKmjld0YRIzcbTtW...,gAAAAABoJJwGxfSQCt63jmMPobCbihkHTmQToReUeTpqhV...,25-34 лет,Ж,Маркетинг KZ,ФЛ,2172.427085,NaT,2024-12-13,1.0,660.913132,2024-05-01,1.171366,NaT,NaN,2024-12-13,151.0,1.0,20.479638,681.392770
515722,gAAAAABoJJv_k0noVDFKUxGS2DjADVMKmjld0YRIzcbTtW...,gAAAAABoJJwGxfSQCt63jmMPobCbihkHTmQToReUeTpqhV...,25-34 лет,Ж,Маркетинг KZ,ФЛ,2172.427085,NaT,2024-12-13,1.0,660.913132,2024-10-01,2.035176,NaT,NaN,2024-12-13,151.0,1.0,20.479638,681.392770
515723,gAAAAABoJJv_k0noVDFKUxGS2DjADVMKmjld0YRIzcbTtW...,gAAAAABoJJwGxfSQCt63jmMPobCbihkHTmQToReUeTpqhV...,25-34 лет,Ж,Маркетинг KZ,ФЛ,2172.427085,NaT,2024-12-13,1.0,660.913132,2025-04-01,1.598086,NaT,NaN,2024-12-13,151.0,1.0,20.479638,681.392770
515724,gAAAAABoJJv_k0noVDFKUxGS2DjADVMKmjld0YRIzcbTtW...,gAAAAABoJJwGxfSQCt63jmMPobCbihkHTmQToReUeTpqhV...,25-34 лет,Ж,Маркетинг KZ,ФЛ,2172.427085,NaT,2024-12-13,1.0,660.913132,2024-12-01,1.513423,NaT,NaN,2024-12-13,151.0,1.0,20.479638,681.392770
515725,gAAAAABoJJwDnYo2FY9O_Kz44XiFU5qDMrjR_b8o61jOiZ...,gAAAAABoJJwGogOvWfwJhX8qt6z-G1yEhSS4Pw08WywTCI...,35-44 лет,М,Органика,ФЛ,352.271036,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,0.0,NaN,0.000000

In [91]:
print(data[['date_last_activity', 'date_last_inouts', 'date_last_conv']].min())

date_last_activity   2024-05-14
date_last_inouts     2024-05-14
date_last_conv       2024-05-14
dtype: datetime64[ns]